<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
  </head>
  <body>
    <div style="padding: 2rem">
      <section>
        <div style="display: -webkit-box; display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center;
          "
        >
          <div style="display: flex; flex-direction: column; width: 41.66667%"
          >
            <div style="display: flex">
              <div style="width: 16.66667%">3.5</div>
              <div style="width: 16.66667%">4.0</div>
              <div style="width: 16.66667%">4.5</div>
              <div style="width: 16.66667%">5.0</div>
              <div style="width: 16.66667%">5.5</div>
              <div style="width: 16.66667%">6.0</div>
              <div style="width: 16.66667%">6.5</div>
              <div style="width: 16.66667%">7.0</div>
            </div>
            <div style="height: 2rem; display: flex">
              <div style="width: 16.66667%; background-color: #96d44c"></div>
              <div style="width: 16.66667%; background-color: #b8ee76"></div>
              <div style="width: 16.66667%; background-color: #e5ec6c"></div>
              <div style="width: 16.66667%; background-color: #d4d4cf"></div>
              <div style="width: 16.66667%; background-color: #b2b2b1"></div>
              <div style="width: 16.66667%; background-color: #999999"></div>
              <div style="width: 16.66667%; background-color: #878787"></div>
              <div style="width: 16.66667%; background-color: #6d6d6d"></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div style="-webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
          "
        >
          <div style="
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              -ms-grid-row-align: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                -ms-grid-row-align: center;
                align-items: center;
                display: flex;
                width: 50%;
              "
            >
              <div style="width: 16.66667%"></div>
              <div style="width: 83.33333%; display: flex; flex-direction: column">
                <div style="
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    display: flex;
                    flex-direction: row;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    -ms-grid-row-align: center;
                    align-items: center;
                    text-align: center;
                  "
                >
                  <p
                    style="
                      -webkit-box-flex: 1;
                      -webkit-flex: 1 1 auto;
                      -ms-flex: 1 1 auto;
                      flex: 1 1 auto;
                      min-width: 0;
                      min-height: 0;
                      width: 16.66667%;
                    "
                  >
                    0-4
                  </p>
                  <p
                    style="
                      -webkit-box-flex: 1;
                      -webkit-flex: 1 1 auto;
                      -ms-flex: 1 1 auto;
                      flex: 1 1 auto;
                      min-width: 0;
                      min-height: 0;
                      width: 16.66667%;
                    "
                  >
                    5-8
                  </p>
                  <p
                    style="
                      -webkit-box-flex: 1;
                      -webkit-flex: 1 1 auto;
                      -ms-flex: 1 1 auto;
                      flex: 1 1 auto;
                      min-width: 0;
                      min-height: 0;
                      width: 16.66667%;
                    "
                  >
                    9-12
                  </p>
                  <p
                    style="
                      -webkit-box-flex: 1;
                      -webkit-flex: 1 1 auto;
                      -ms-flex: 1 1 auto;
                      flex: 1 1 auto;
                      min-width: 0;
                      min-height: 0;
                      width: 16.66667%;
                    "
                  >
                    13-16
                  </p>
                  <p
                    style="
                      -webkit-box-flex: 1;
                      -webkit-flex: 1 1 auto;
                      -ms-flex: 1 1 auto;
                      flex: 1 1 auto;
                      min-width: 0;
                      min-height: 0;
                      width: 16.66667%;
                    "
                  >
                    17-20
                  </p>
                </div>
                <div style="display: flex; flex-direction: column; margin: 1rem"
                >
                  <div style="
                      height: 0.7rem;
                      box-shadow: inset 0px -5px 0px 0px #add8e6;
                      display: flex;
                    "
                  >
                    <div style="
                        border-left-style: solid;
                        border-left-width: 1px;
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                  </div>
                  <div style="
                      height: 0.7rem;
                      box-shadow: inset 0px 5px 0px 0px #add8e6;
                      display: flex;
                    "
                  >
                    <div style="
                        border-left-style: solid;
                        border-left-width: 1px;
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                    <div
                      style="
                        border-right-style: solid;
                        border-right-width: 1px;
                        -webkit-box-flex: 1;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        min-width: 0;
                        min-height: 0;
                      "
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 8.33333%">
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
